@import "tailwindcss";

.bgimage {
  background-size: cover;
  background-position: center;
  background-image: url("https://cdn.vectorstock.com/i/500p/86/55/aged-newspaper-texture-vector-20998655.jpg");
}
